
/*顶部样式*/
.top{
	height:60px;
	width: 100%;
	background-color:#333; 
}
.top .top_nav{
	width: 1341px;
	margin: 0 auto;
	height: 100%;
	/*background-color: #FFFFCC; */
}
.top .top_nav_left{
    width:200px;
    height: 100%;
    float:left;
   /* background-color: green;*/
}
.top .top_nav_left>h1{
    width: 100%;
    height: 100%;
}
.top .top_nav_left>h1>img{
    width: 100%;
    height: 100%;
}
.top .top_nav_left>h1>a{
    display: inline-block;
    width:100%;
    height: 100%;
    /*background:url("../images/logo.png");*/
}
.top .top_nav_right{
    width:700px;
    height: 100%;
    float:right;
   /* background-color: yellow;*/
}
.top .top_nav_right>li{
	float: left;
}
.top .top_nav_right>li>a{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 60px;
	margin-left: 40px;
}
.top .top_nav_right>li>a:hover{
	color: #e82c07;

}
/*轮播图样式*/
.banner{
    height: 800px;
    width: 100%;
    background-color: green;
    text-align: center;
}
.banner>img{
    margin:0 -100%;
    height: 100%;
    width: 100%;
}
/*展示区样式*/
.show{
    height: 950px;
    width: 100%;
    background-color: blue;
}
.show .show_center{
    width: 1170px;
    margin: 0 auto;
    background-color: green;
    height: 100%;
}
.head_container{
    width: 100%;
}
.title{
    padding: 90px 0px;
    text-align: center;
}
.title>h2{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;

}
 .title>p{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
}
.show_con{
    width: 100%;
   
    height: 343px;
}
.show_con .show_col{
    width: 33.33333333%;
    background-color:yellow;
    height: 100%; 
    float: left;
   text-align: center;
}
.show_img{
    padding: 4px;
    width: 98%;
    height: 98%;
    background-color: red;
    max-height: 330px; 

}
.caption{
    text-align: center;
}
.caption>a>strong{
    font-size: 15px;
    
    line-height: 4em;
    color: #fff;
}
.caption>a>p{
    line-height: 1.8em;
}
/*动态区域样式*/
.news{
    height: 800px;
    width: 100%;
    background-color: pink;
}
.news_center{
    width: 1200px;
    margin: 0 auto;
    background-color: black;
    height: 100%;
}
.col_container{
    width: 100%;
    height:550px;
    background-color: #fff;
}
.col_box{
    width: 50%;
    height: 33%;
   /* background-color: red;*/
    float: left;
    
}
.box_left{
    float: left;
    width: 160px;
    height: 160px;
    background-color: red;
     margin-left: 10px;
}
.box_right{
    float: right;
   width: 420px;
   height: 160px; 
   
    background: url(../images/news_button.png) no-repeat
    bottom right;
  
}
.box_title{
    height: 30px;
    line-height: 30px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: black; 
}
.box_title>a{
    font-size: 18px;
    color: #fff;
}
.box_text{
    height: 45px;
    line-height: 22px;
    overflow: hidden;
    font-size: 14px;
    color: yellow;
}
.box_time{
    color: black;
    height: 10px;
    width: 100px;
}
/*底部样式*/
.footer{
    color: #ffffff;
    background-color: #2a2e46;
    height: 300px;
    width: 100%;
}
.footer_container{
width: 1170px;
margin:0 auto;
padding-left: 15px;
padding-right: 15px;
height: 100%;
}
.row{
    width: 100%;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #fff;
}
.row_col
{
width: 195px;
height: 100%;
background-color: red;
float: left;
}
.row_col>h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
}
.row_text>ul>li>a{
   line-height: 1.8rem;
   font-size: 0.9rem;
}
.line-short{
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 20px;
    background-color: #5584ff;
}
