.main{
   width: 100%;
   height: 1200px;
   background: #e6e4e0;
   padding: 30px;
 
}

.show{
   
   width: 80%;  
   margin:0 auto;
  background-color: #fff;
   height: 100%;
}
.head_img{
	width: 100%;
	height: 300px;
	background:url(../images/project.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	line-height: 300px;
	box-sizing: border-box;
	overflow: hidden;
	/* -webkit-filter: blur(1px);
     -moz-filter: blur(1px);
     -o-filter: blur(1px);
     -ms-filter: blur(1px);
      filter: blur(1px);*/
}

.head_img>h1{
	font-weight: 600;
	font-size: 30px;
}
.project{
	width: 100%;
	height: 900px;
	background-color: #fff;
}
.project>ul>li{
  width: 100%;
  height: 290px;
  /*background-color: green;*/
 
}
.project_left{
	width: 30%;
	height: 100%;
	float: left;
	padding: 20px; 
	box-sizing: border-box;
}
.project_left>a>img{

	width: 100%;
	height: 100%;
	
	
}
.project_right{
	 float: right;
   width: 70%;
   height: 100%; 
   padding: 20px; 
   box-sizing: border-box;
}
.project_title{
    height: 50px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
   padding: 10px;
   box-sizing: border-box;
   
}
.project_title>a{
    font-size: 18px;
    
    color: black;
}
.project_text{
    height:170px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
    
    overflow: hidden;
    line-height: 150%;  
 
}
.project_text>a>p{
color: black;
}

.project_time{
    color: black;
    height: 10px;
    width: 100px;
}
